# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Python / Conda
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/
.conda/

# Jupyter
.ipynb_checkpoints/

# Logs/temp
*.log
*.tmp
*.bak

# Demo file to ignore
rough.txt
